table {
  border-collapse: collapse;
  margin: 0 auto;
  overflow-y: scroll;
}

.tab{
  margin-top: 80px;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  margin-top: 80px;
}

th {
  background-color: #f2f2f2;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #3e8e41;
}

label {
  display: block;
  margin-bottom: 8
}

.form{
  display:grid;
  justify-content: center;
  align-items: center;
  height: 15vh;
  padding-top: 10rem;
}